@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/* comman style here ---------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.btn{
    background: #E55473;
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
}

.title-section{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
p{
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
    color: #272727;
}
.title{
    font-size: 35px;
    font-weight: 800;
}
/* header start here ------------------------------- */
header{
    background: #E554731A;
    overflow: hidden;
    position: relative;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    background: #E554731A;
    width: 100%;
    z-index: 1;
}
.navbar{
    height: 60px;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
}
ul li a{
    padding: 8px 15px;
    text-decoration: none;
    color: #272727;
    font-size: 18px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 24px;
}
.banner{
    display: flex;
    align-items: center;
    height: 100vh;
    max-height: 600px;
}
.banner-content{
    width: 50%;
}
.banner-img{
    height: 100%;
    width: 50%;
    position: relative;
}
.banner-img img{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 10%;
}
.banner-heading{
    font-size: 65px;
    color: #272727;
    font-weight: 900;
}
.banner-txt{
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
}

/* feature start ----------------------------- */
.feature{
    margin-top: 80px;
}
.feature-items{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.feature-items .item{
    display: flex;
    flex-direction:column;
    justify-content: end;
    text-align: center;
    width: 32%;
}
.feature-items .item .content{
    border-radius: 300px 300px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}
.feature-items .item .content img{
    width: 80%;
}
.lightred{
    background: #F2DEE7;
}
.lightsky{
    background: #D9EFF1;
}
.lightgreen{
    background: #E3EBDB;
}
.feature-items .item h4{
    margin-top: 20px;
    font-size: 20px;
    text-decoration: underline;
}
.feature-box{
    border-radius: 8px;
    background:#F4F4F4;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 50px;
    margin: 100px 0;
}

/* deal start -------------------------- */
.deal{
    background: #E554731A;
    padding: 50px 0;
}
.red{
    color: red;
}
.deal-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.deal-content{
    width: 60%;
    text-align: center;
}
.deal-img{
    width: 30%;
}
.deal-img img{
    width: 60%;
}

/* instagram start -------------------- */
.instagram{
    margin-top: 80px;
}
.insta-gallary{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.insta-gallary .item{
    /* border: 1px solid; */
    padding: 10px;
}
.insta-gallary .item img{
    width: 100%;
}
.input-fld{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.subscribe{
    background: url(img/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px;
    margin: 80px 0;
    border-radius: 8px;
}
.input-fld>input[type=email]{
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    width: 50%;
    font-size: 18px;
}
footer{
    background: #000;
    color: #fff;
    padding: 80px;
    text-align: center;
}
footer p{
    color: #eee;
}
.copy{
    color: gray;
}